/* .Xbutton {
    border: none;
    background-color: white;
    height: 6px;
    cursor: pointer;
} */

.task {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 48px;
    align-items: center;
    /* margin: 6px -176px; */
    /* margin-left: -206px;
    margin-right: -260px; */
}

.task:last-child {
    border-bottom: inherit; 
}


.task__item_checked {
    display: flex;
    align-items: center;
    gap: 35px;
    color: lightgray;
}

.task__item_nonchecked {
    
    display: flex;
    align-items: center;
    gap: 35px;
    color: #666666;
}


.nonchk {
    accent-color: #008594;
    border-color: red;
    
}

.chk {
    accent-color: #008594;
    border-color: red;
}

* {
    color: #666666;
}