.input-text {
    border: 2px solid #FFCD04;
    border-radius: 4px;
    height: 33px;
    padding-left: 12px;
}

::placeholder { 
    color: #DFDFDF;
    font-size: small;
}
  

.onAdd {
    height: 39px;
    background: #008594;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 15px;
    padding: 0px 25px;
    border-radius: 4px;
    cursor: pointer;
}

.title {    
    color: #174348;
    align-self: start;
    /* margin-left: -754px;
    margin-bottom: -13px; */
}

.errorMessage {
    color: #FF3104;
    font-size: 12px;    
    line-height: 18px;
    font-weight: 400;
}

.form {
    display: flex;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
}

.form > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 86px;
}


.inputStyle{
    margin-right: 24px;
}
@media only screen and (max-width: 600px) {
    .form {
        flex-direction: column;
        align-items: flex-end;
    }    
    .emptyListText {
        /* font-size: 4px; */
    }
    .inputStyle{
        margin-right: initial;
    }
}